    {% load staticfiles %}
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar" style="background:#0B173B">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            </a>
                        </div>
                        <div class="info">
                            <small>{{email}}</small>
                        </div>
                    </li>
                </ul>
                <!-- end sidebar user -->
                {% include 'navbar.html' %}

                
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>
        <!-- end #sidebar -->
